<div class="bot1_wrapper">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <div class="bot1_title">Exchange and Cooperation</div>
        <ul class="ul1">
          <li><a href="">XXXX</a></li>
          <li><a href="">XXXX</a></li>
{#          <li><a href="">XXXX</a></li>#}
        </ul>
      </div>
{#      <div class="col-sm-4">#}
{#        <div class="bot1_title">XXXX</div>#}
{#        <img src="{{url_for('static',filename='base/images/qrcode.jpg')}}" alt="" class="img-responsive" height="120px" width="120px">  #}
{#      </div>#}
      <div class="col-sm-4">
        <div class="bot1_title">CONTACT US</div>
        <div class="txt1">Email: XXXXXXxxxxxx@xxxxx.xx.xx</div>
{#        <div class="phone2">Telephone: +44 (0)XXX XXX XXXX</div>#}
        <div class="txt1">Telephone: +44 (0)XXX XXX XXXX</div>
      </div>
    </div>
  </div>
</div>

<div class="bot2_wrapper">
  <div class="container">
    <div class="left_side">
      Copyright &copy; 2019 University of XXXXx, XXXXx, XX2 9XX
    </div>
    <div class="right_side"></div>
  </div>
</div>

</div>
<script src="{{url_for('static',filename='base/js/script.js')}}"></script>
</body>
</html>
<!--底部结束-->