<div id="slider_wrapper">
  <div class="container">
    <div id="slider_inner">
      <div class="">
        <div id="slider">
          <div class="">
            <div class="carousel-box">
              <div class="inner">
                <div class="carousel main">
                  <ul>
                    <li>
                      <div class="slider">
                        <div class="slider_inner">
                          <div class="txt1"><span>Welcome</span></div>
                          <div class="txt2"><span>School of Dentistry</span></div>
                          <div class="txt3"><span>University of XXXXx</span></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="slider">
                        <div class="slider_inner">
                          <div class="txt1"><span>Study with us</span></div>
                          <div class="txt2"><span>Masters</span></div>
                          <div class="txt3"><span>Further develop your understanding with our selection of Masters courses.</span></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="slider">
                        <div class="slider_inner">
                          <div class="txt1"><span>Study with us</span></div>
                          <div class="txt2"><span>Undergraduate</span></div>
                          <div class="txt3"><span>Learn from expert staff in world-class clinical training facilities with our Undergraduate courses.</span></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="slider_pagination"></div>
        </div>
      </div>
    </div>
  </div>
</div>